{% load webdesign %}
		<div class="slideshow">
			<div id="slide-nav"></div>
			<div class="nav-menu">
				<div>
					<h3>{% lorem 3 w random %}</h3>
					<p>{% lorem 10 w random %}.</p>
				</div>
				<div>
					<h3>{% lorem 3 w random %}</h3>
					<p>{% lorem 10 w random %}.</p>
				</div>
				<div>
					<h3>{% lorem 3 w random %}</h3>
					<p>{% lorem 10 w random %}.</p>
				</div>
				<div>
					<h3>{% lorem 3 w random %}</h3>
					<p>{% lorem 10 w random %}.</p>
				</div>
			</div>
			<div class="slide">
				<img src="/media/dev/slide1.jpg" />
				<h2 style="position:absolute; top:0; left:0;">One</h2>
			</div>
			<div class="slide">
				<img src="/media/dev/slide2.jpg" />
				<h2 style="position:absolute; top:0; left:0;">Two</h2>
			</div>
			<div class="slide">
				<img src="/media/dev/slide3.jpg" />
				<h2 style="position:absolute; top:0; left:0;">Three</h2>
			</div>
			<div class="slide">
				<img src="/media/dev/slide4.jpg" />
				<h2 style="position:absolute; top:0; left:0;">Four</h2>
			</div>
		</div>
