{% load webdesign %}
		<div class="slideshow">
        	{% if slideshow.show_text_nav %}
        	<div class="nav-menu">
        		{% for slide in slide_list %}
        		<div>
        			<h3>{{ slide.header }}</h3>
        			<p>{{ slide.description }}</p>
        		</div>
        		{% endfor %}
        	</div>
        	{% endif %}
        	
        	{% if slideshow.show_pager_nav %}
        	<div id="slide-nav"></div>
        	<div id="slide-pause">paused</div>
        	{% endif %}
        	
        	{% for slide in slide_list %}
				{% if slide.link != "" %}
					<a href="{{ slide.link }}">
				{% endif %}
				<img src="{{ slide.image_url }}" class="slide" alt="{{ slide.description }}" />
				{% if slide.link != "" %}
					</a>
				{% endif %}
        	{% endfor %}
        	
		</div>
